
.sliders{
   padding: 0.5rem;
}
.truePrice{
   text-align: center;
   padding: 0.5rem;
   .txt{
      font-size: 1.6rem !important;
      font-weight: 700 !important;
      color: #f05e26!important;
   }
}
