@use '../utils' as u;
.careers{
    p{
        color: var(--rd-text-dark-color);
        strong{
            font-weight: 600;
        }
    }
    &__figure{
        width: 100%;
        height: auto;
        img{
            max-width: 100%;
            margin: auto;
            display: block;
            object-fit: contain;
        }
    }
    &__content{
        display: flex;
        gap: u.rem(20);
        &__card{            
            flex-basis: 50%;
            box-shadow: 0 0 3px rgba(51,51,51,.466);
            padding: u.rem(12) u.rem(14);
            border-radius: u.rem(2);
            .card_title{
                p{
                  margin-bottom: 0;
                }
                &.text-center{
                    border-bottom: 1px solid var(--rd-gray-300);
                    padding: u.rem(5) 0 u.rem(10);
                    margin-bottom: u.rem(5);
                    margin-left:- u.rem(15);
                    margin-right: - u.rem(15);
                    p{
                        color: var(--rd-orange-500);
                        text-transform: uppercase;
                    }
                }
            }
            p{
                small{
                    font-size: u.rem(12);
                    color: var(--rd-orange-500);
                }
            }
        }
    }
}