@use '../utils' as u;
.modal{
    position: fixed;
    z-index: 9999;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.158);
    display: flex;
    justify-content: center;
    align-items: center;
    &-content{
        width: u.em(500);
        background-color:var(--rd-white-color);        
        box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
        border-radius: u.rem(1);
      &-title{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding:u.rem(5) u.rem(10) u.rem(5);
         border-bottom: 1px solid  var(--rd-gray-300);
         p{
            color: var(--rd-orange-600);
            font-weight: 600;
            
         }
      }
      &-body{
         padding:u.rem(4) u.rem(10);
      }
    }
}
.pincodeModal{
    align-items: flex-start;
   .modal-content{
      max-width: u.em(275);
      margin-top: u.em(120);
      .modal-content-title{
       p{
         margin-bottom: 0;
       }
     }
   }
   .modal-content-body{
      padding: u.rem(12) u.rem(16);
      // position: relative;
      .cityName{
         position: absolute;
         top:107%;
         left: 0;
         background-color: var(--rd-white-color);
         border: 1px solid var(--rd-gray-100);         
         max-height: u.em(300);
         overflow-y: scroll;
         border-radius: u.rem(2);
         box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
         ul{
            li{
               display: flex;
               gap: u.rem(5) u.rem(20);
               font-size: u.rem(12);
               padding:u.rem(5) u.rem(4) u.rem(5) u.rem(10);
               border-bottom: 1px solid var(--rd-gray-200);
               border-top:1px solid transparent;
               cursor: pointer;
               span{
                  white-space: nowrap;
               }
               &:hover{
                  background-color:rgba(255, 72, 0, 0.06);
                  border-top-color:rgba(255, 72, 0, 0.06); 
                  border-bottom-color:rgba(255, 72, 0, 0.06); 
                  span{
                    color: var(--rd-orange-600);
                    &:last-child{
                      color: var(--rd-black-color);
                    }
                  }
               }
            }
         }
         &::-webkit-scrollbar {
            width: u.em(8);
         }
         &::-webkit-scrollbar-track {
            background: transparent;
         }
         &::-webkit-scrollbar-thumb {
            background: #888;
         }
         &::-webkit-scrollbar-thumb:hover {
            background: #555;
         }

      }
   }
   
}
.open-modal{
    overflow: hidden;
}

.pageExpire{
   background-color: rgba(0, 0, 0, 0.459);
   .modal-content{
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      max-width: u.em(275);
      .modal-content-body{
          text-align: center;
          opacity: 1;
          padding: u.rem(15) u.rem(10);
         p{
            
            font-weight: 400;
         }
         .opps{
            color: var(--rd-orange-600);
            margin-bottom: u.rem(5);
         }
         
      }
   }   
}